In [ ]:
%matplotlib notebook

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [7]:
file = "../data/rawdata/coll_n_weather_chris_stan_date_left_merge.csv"

coll_n_weather = pd.read_csv(file)
coll_n_weather.head(10)

,UNIX DATE,YEAR,MONTH,NUMBER OF PERSONS KILLED,NUMBER OF PERSONS INJURED,DATE,Day,Detail,Moonphase,Summary,...,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
0,1546171200,2018,12,0.0,0.0,2018-12-30,1546192800,partly-cloudy-day,0.79,Mostly cloudy throughout the day.,...,0.00,1023.42,38.91,1546146000,34.20,1546228800,9.87,5.93,1546149600,0.73
1,1546171200,2018,12,0.0,0.0,2018-12-30,1546192800,partly-cloudy-day,0.79,Mostly cloudy throughout the day.,...,0.00,1023.42,38.91,1546146000,34.20,1546228800,9.87,5.93,1546149600,0.73
2,1545955200,2018,12,0.0,0.0,2018-12-28,1546020000,rain,0.72,Rain until evening.,...,1.00,1018.77,57.26,1546041600,42.23,1545973200,5.25,9.29,1546016400,3.85
3,1545065100,2018,12,0.0,0.0,2018-12-17,1545069600,partly-cloudy-day,0.32,Mostly cloudy throughout the day.,...,0.00,1007.31,45.88,1545066000,38.11,1545026400,10.00,16.37,1545080400,8.54
4,1544533200,2018,12,0.0,0.0,2018-12-11,1544551200,partly-cloudy-night,0.14,Mostly cloudy overnight.,...,0.00,1018.65,40.08,1544558400,25.13,1544526000,10.00,7.32,1544580000,1.49
5,1544230260,2018,12,0.0,1.0,2018-12-08,1544292000,partly-cloudy-day,0.05,Mostly cloudy until evening.,...,0.00,1032.25,35.18,1544295600,22.82,1544270400,10.00,9.76,1544288400,4.30
6,1543145400,2018,11,0.0,0.0,2018-11-25,1543168800,partly-cloudy-day,0.59,Mostly cloudy throughout the day.,...,1.00,1009.41,54.78,1543176000,45.63,1543150800,9.13,12.50,1543132800,5.48
7,1542315600,2018,11,0.0,0.0,2018-11-15,1542304800,snow,0.25,"Snow (< 1 in.) starting in the afternoon, cont...",...,0.53,1029.24,37.17,1542340800,29.84,1542319200,6.92,23.67,1542337200,8.43
8,1542324900,2018,11,0.0,0.0,2018-11-15,1542304800,snow,0.25,"Snow (< 1 in.) starting in the afternoon, cont...",...,0.53,1029.24,37.17,1542340800,29.84,1542319200,6.92,23.67,1542337200,8.43
9,1541790900,2018,11,0.0,0.0,2018-11-09,1541786400,rain,0.07,Rain starting in the afternoon.,...,1.00,1021.58,50.97,1541790000,39.40,1541757600,8.57,10.05,1541815200,5.17

In [8]:
#coll_n_weather = coll_n_weather[['DATE', 'UNIX DATE','YEAR','DEATHS', 'INJURIES', 'Detail', 'Moonphase', 
#                                 'cloudCover', 'humidity', 'precipIntensity', 'pressure', 'temperatureMax', 
#                                 'temperatureMin','visibility', 'windGust', 'windGustTime', 'windSpeed']]
#coll_n_weather.head()

In [11]:
coll_n_weather['Deaths & Injuries'] = coll_n_weather['NUMBER OF PERSONS KILLED'] + coll_n_weather['NUMBER OF PERSONS INJURED']

In [12]:
coll_n_weather.columns

Index(['UNIX DATE', 'YEAR', 'MONTH', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PERSONS INJURED', 'DATE', 'Day', 'Detail', 'Moonphase',
       'Summary', 'Sunrise', 'Sunset', 'cloudCover', 'dewPoint', 'humidity',
       'precipIntensity', 'precipIntensityMax', 'precipProbability',
       'pressure', 'temperatureMax', 'temperatureMaxTime', 'temperatureMin',
       'temperatureMinTime', 'visibility', 'windGust', 'windGustTime',
       'windSpeed', 'Deaths & Injuries'],
      dtype='object')

In [13]:
coll_n_weather['Deaths & Injuries'].sum()

286781.0

In [14]:
coll_n_weather['DATE'] = pd.to_datetime(coll_n_weather['DATE'])

In [19]:
#create collsions column for sum of collisions each day.
coll_per_day_gp = coll_n_weather.groupby(['DATE'])
coll_per_day = coll_per_day_gp['DATE'].count()

coll_per_day = pd.DataFrame(coll_per_day)

coll_per_day = coll_per_day.rename(columns={"DATE": 'Daily Collision'})
coll_per_day.reset_index()

coll_per_day.head()

            Daily Collision
DATE
2013-12-31              464
2014-01-01              399
2014-01-02              603
2014-01-03              423
2014-01-04              418

In [21]:
coll_per_day

            Daily Collision
DATE
2013-12-31              464
2014-01-01              399
2014-01-02              603
2014-01-03              423
2014-01-04              418
2014-01-05              320
2014-01-06              518
2014-01-07              491
2014-01-08              616
2014-01-09              561
2014-01-10              667
2014-01-11              465
2014-01-12              388
2014-01-13              568
2014-01-14              559
2014-01-15              583
2014-01-16              521
2014-01-17              589
2014-01-18              448
2014-01-19              380
2014-01-20              360
2014-01-21             1161
2014-01-22              498
2014-01-23              612
2014-01-24              705
2014-01-25              475
2014-01-26              465
2014-01-27              511
2014-01-28              504
2014-01-29              649
...                     ...
2018-12-02              556
2018-12-03              698
2018-12-04              682
2018-12-05              652
2018-12-06              679
2018-12-07              705
2018-12-08              652
2018-12-09              465
2018-12-10              651
2018-12-11              707
2018-12-12              631
2018-12-13              686
2018-12-14              841
2018-12-15              627
2018-12-16              622
2018-12-17              689
2018-12-18              730
2018-12-19              749
2018-12-20              805
2018-12-21              782
2018-12-22              568
2018-12-23              504
2018-12-24              579
2018-12-25              329
2018-12-26              514
2018-12-27              581
2018-12-28              680
2018-12-29              500
2018-12-30              404
2018-12-31              621

[1827 rows x 1 columns]

In [ ]:
#coll_n_weather.dtypes
coll_n_weather['WEEK'] = coll_n_weather['DATE'].dt.week
coll_n_weather

In [ ]:
#coll_n_week.group

In [ ]:
coll_n_weather_wk = coll_n_weather.groupby(['YEAR', 'WEEK']).mean().reset_index()

coll_n_weather_wk

In [ ]:
#coll_n_weather_wk['DATE'] = pd.to_datetime(coll_n_weather_wk['UNIX DATE'])
#coll_n_weather_wk['DATE'] = coll_n_weather_wk['DATE'].dt.date
#coll_n_weather_wk.head()